.transferContainer {
  display: flex;
  flex-direction: column;
  background: white;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
  padding: 24px 16px;
}

.balanceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}