@use '/styles/variables' as var;

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  min-width: var.$sidebarWidth;
  max-width: var.$sidebarWidth;
  background: white;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background: var.$bgPrimary;
  padding: 32px;
}

.warningText {
  color: var.$textSecondary;
}
