@use '/styles/variables' as var;

.header {
  display: flex;
  height: var.$headerHeight;
  border-bottom: 1px solid var.$borderPrimary;
}

.logo {
  display: flex;
  position: relative;
  min-width: var.$sidebarWidth;
  max-width: var.$sidebarWidth;
  background: white;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  background: var.$bgPrimary;
  padding-right: 48px;
}

.connectWallet {
  color: #181336;
  border: 1px solid var.$borderPrimary;
  border-radius: 100px;
  font-weight: 500;
}

.listWrapper {
  border: 1px solid var.$borderPrimary;
  border-radius: 100px;
  width: 240px;
  z-index: 1000;
}

.accountsWrapper {
  background: white;
  position: absolute;
  border-radius: .5em;
  top: 0;
  width: 240px;
  z-index: 1000;
}

.accountsList {
  max-height: 300px;
  overflow-y: auto;
}

.accountsList::-webkit-scrollbar {
  display: none;
}