/* load color pallete */
@import './palette';

/* load typhography */
@import './typhography';

$headerHeight: 100px;
$sidebarWidth: 270px;

:export {
  headerHeight: $headerHeight;
  sidebarWidth: $sidebarWidth;
}
