/* variables */
@import './variables';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-primary {
  background: $btnPrimary;
  text-transform: none;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  padding: 12px 24px;
}

.section-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  color: $btnPrimary;
  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 4px solid $btnPrimary;
}